@model UAAASSCM.Controllers.FacultyRegistration
@using UAAAS.Models;
@{
    ViewBag.Title = Model.RegistrationNumber + " - " + Model.FirstName + " " + Model.MiddleName + " " + Model.LastName;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style type="text/css">
    #PhotoPreview {
        width: 200px;
        height: 230px;
        background-position: center center;
        background-size: cover;
        -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
        display: inline-block;
    }
</style>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Validations.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jspdf.plugin.from_html.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $(".approve_link").click(function(){
            if(confirm("Are you sure, you want to approve the faculty?"))
            {
                return true;
            }
            else
            {
                return false;
            }
        });

        $(".Terms").click(function(){
            if($(this).val()=="True"){
                $(".submitButton").show();
                $(".rbtn").css("background-color", "#E8EFF3");
            }
            else{
                $(".submitButton").hide();
            }
        });

        var $myDialog = $("#dialog-edit11").dialog({
            title: 'Add/Edit Department',
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 600,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit11").dialog({
                title: 'Not Approved Details'
            });
            url = $("#openDialog").attr('href');

            $myDialog.dialog('open');
            return false;
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });

        if($(".ifNeworExist").is(':checked')) {

            $(".ifNeworExist").prop("disabled",true);

            var checkval=$(".ifNeworExist").prop("checked");

            if (checkval==true) {

                $('#divNewFaculty').show();
                // $('#divOrganization').hide();
                $('#divExistFaculty').show();
            }
            else {

                $('#divNewFaculty').show();
                $('#divOrganization').show();
                // $('#divExistFaculty').hide();
            }
        }
        else
        {
            $(".ifNeworExist").prop("disabled",false);


            //$('#divNewFaculty').hide();
            // $('#divOrganization').hide();
            //$('#divExistFaculty').hide();
        }

        $(function () {

            $("#PhotoPreview").css("display", "none");

            $("#Photo").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readPhoto( F[i] );
            });


            $(".panfile").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '300x250', '100', 'PAN Card Document');

            });
            $(".aadhaarfile").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '200x200', '100', 'Aadhaar Card Document');

            });
            $(".SelectionCommitteeProceedingsDocument").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '600x800', '100', 'Proceedings Document');

            });
            $(".1-certificate").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '600x800', '100', '10th Or Equivalent Document');

            });
            $(".3-certificate").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '600x800', '100', 'UG Document');

            });
            $(".4-certificate").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '600x800', '100', 'PG Document');

            });
            $(".5-certificate").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '600x800', '100', 'M.Phil Document');

            });
            $(".6-certificate").change(function (e) {

                if(this.disabled) return alert('File upload not supported!');
                var F = this.files;
                if(F && F[0]) for(var i=0; i<F.length; i++) readDocument( F[i], '600x800', '100', 'Ph.D Document');

            });



        });

    });

    function printdiv(printpage) {
        //$(".view_hide").hide();
        //Get the HTML of div
        var divElements = document.getElementById(printpage).innerHTML;
        //Get the HTML of whole page
        var oldPage = document.body.innerHTML;

        //Reset the page's HTML with div's HTML only
        document.body.innerHTML =
          "<html><head><title></title></head><body>" +
          divElements.fontsize(1) + "</body>";

        //Print Page
        window.print();

        //Restore orignal HTML
        document.body.innerHTML = oldPage;
        //$(".view_hide").show();
        return false;
    }

    function demoFromHTML() {
        debugger;
        var pdf = new jsPDF('p', 'pt', 'letter')

        // source can be HTML-formatted string, or a reference
        // to an actual DOM element from which the text will be scraped.
        , source = $('#div_print')[0]

        // we support special element handlers. Register them with jQuery-style
        // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
        // There is no support for any other type of selectors
        // (class, of compound) at this time.
        , specialElementHandlers = {
            // element with id of "bypass" - jQuery style selector
            '#bypassme': function(element, renderer){
                // true = "handled elsewhere, bypass text extraction"
                return true
            }
        }

        margins = {
            top: 80,
            bottom: 60,
            left: 40,
            width: 522
        };
        // all coords and widths are in jsPDF instance's declared units
        // 'inches' in this case
        pdf.fromHTML(
            source // HTML string or DOM elem ref.
            , margins.left // x coord
            , margins.top // y coord
            , {
                'width': margins.width // max width of content on PDF
                , 'elementHandlers': specialElementHandlers
            },
            function (dispose) {
                // dispose: object with X, Y of the last line add to the PDF
                //          this allow the insertion of new lines after html
                pdf.save('Test.pdf');
            },
            margins
        )
    }
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    function HTML2PDF() {
        debugger;
        doc.fromHTML($('#div_print').html(), 15, 15, {'width': 170,'elementHandlers': specialElementHandlers});
        doc.save('sample-file.pdf');
    }

</script>

<div style="text-align:right">
    <br />@Html.ActionLink("Back to Home", "FindRegistrationNumber", "Account", new { @class = "create_button" })
</div>

<div id="div_print">

    @using (Html.BeginForm("AdjunctFacty", "OnlineRegistration", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.createdBy)
        @Html.HiddenFor(model => model.createdOn)
        @Html.HiddenFor(model => model.isActive)

        if (Model.id > 0)
        {
            @Html.HiddenFor(model => model.Type)
            @Html.HiddenFor(model => model.UserName)
            @Html.HiddenFor(model => model.NewPassword)
            @Html.HiddenFor(model => model.ConfirmPassword)
            @Html.HiddenFor(model => model.RegistrationNumber)
            @Html.HiddenFor(model => model.UniqueID)
        }
        if (@Model.isView != null)
        {
            @Html.HiddenFor(model => model.NewPassword)
            @Html.HiddenFor(model => model.ConfirmPassword)
        }

        <table class="faculty_table" style="text-align: center; width: 100%">
            @if (Model.isView == null)
            {
                <tr>
                    @*<td class="col1" style="font-weight: bold; width: 15%;">
                            <span>Faculty Type</span>
                        </td>*@
                    <td class="col2" style="width: 85%;">
                        @*<label title="Presently WORKING in any of the Technical Colleges affiliated to JNTUH">@Html.RadioButtonFor(model => model.Type, "ExistFaculty", new { @name = "fType", @class = "ifNeworExist ifExist" }) Existing Faculty</label>
                            <br />
                            <label title="Presently NOT WORKING in any of the Technical Colleges affiliated to JNTUH but wish to work in future">@Html.RadioButtonFor(model => model.Type, "NewFaculty", new { @name = "fType", @class = "ifNeworExist ifNew" }) New Faculty </label>
                            <br />
                            <label title="Presently NOT WORKING in any of the Technical Colleges affiliated to JNTUH but wish to work in future">@Html.RadioButtonFor(model => model.Type, "Adjunct", new { @name = "fType", @class = "ifNeworExist ifNew" }) Adjunct Faculty </label>*@


                        <div style="text-align: right; font-style: italic; float: right; width: 250px; color: red;">
                            * - marked fields are mandatory
                        </div>

                    </td>
                </tr>
            }
        </table>

        <br />

        <div id="divNewFaculty">
            <table class="faculty_table">
                @if (Model.id > 0)
                {

                    <tr>
                        <td class="col1" colspan="2">
                            <b>Registration Information</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col1" style="font-weight: bold;">
                            @Html.LabelFor(model => model.RegistrationNumber)
                        </td>
                        <td class="col2">
                            <span style="text-transform: uppercase; font-weight: bold;">@Html.DisplayFor(model => model.RegistrationNumber)</span>
                        </td>
                    </tr>
                    @Html.HiddenFor(model => model.UniqueID)
                    @Html.HiddenFor(model => model.isApproved)

                    <tr style="display: none;">
                        <td class="col1" style="font-weight: bold;">
                            @Html.LabelFor(model => model.UniqueID)
                        </td>
                        <td class="col2">

                            @if (@Model.isView == true)
                            {
                                <span style="text-transform: uppercase; font-weight: bold;">@Html.DisplayFor(model => model.UniqueID)</span>
                            }
                            else if (@Model.isView == false)
                            {
                                <span style="color: red;">Rejected</span>
                            }
                            else
                            {
                                <span>Permanent Faculty Registration ID will be provided after verification</span>
                            }
                        </td>
                    </tr>
                    @*<tr style="display: none;">
                        <td class="col1" style="">
                            Application @Html.LabelFor(model => model.isApproved)
                        </td>
                        <td class="col2" style="">
                            @if (Roles.IsUserInRole("Admin"))
                            {
                               
                            }
                            else
                            {
                                if (@Model.isApproved == true)
                                {
                                    <span>Approved</span>
                                }
                                else if (@Model.isApproved == false)
                                {
                                    <span>Rejected</span>
                                }
                                else
                                {
                                    <span>Application accepted and processing</span>
                                }
                            }
                        </td>
                    </tr>*@
                }
                else
                {
                    <tr>
                        <td class="col1" colspan="2">
                            <b>Login Information</b>
                        </td>
                    </tr>
                }

                <tr id="tr_AdjFaculty">
                    <td class="col1">
                        @Html.LabelFor(model => model.WorkingType) <span class="mandatory">*</span>
                    </td>
                    <td class="col2">
                        @if (@Model.isView != null)
                        {
                            if (@Model.WorkingType == "Industry")
                            {
                                <span>Industry</span>
                            }
                            else if (@Model.WorkingType == "Academia")
                            {
                                <span>Academia</span>
                            }
                            @Html.HiddenFor(model => model.WorkingType)

                        }
                        else
                        {
                            <label>@Html.RadioButtonFor(model => model.WorkingType, "Industry") Industry </label>
                            <label>@Html.RadioButtonFor(model => model.WorkingType, "Academia") Academia </label>
                            @Html.ValidationMessageFor(model => model.WorkingType)
                        }
                    </td>
                    @*<td colspan="2" class="col2">
                            Do you belong to : <span class="mandatory">*</span>

                            <label title="Industry">@Html.RadioButtonFor(model => model.WorkingType, "Industry", new { @name = "Industry", @class = "ifAdjFaculty ifIndustry" }) Industry </label> (or)
                            <label title="Academy">@Html.RadioButtonFor(model => model.WorkingType, "Academia", new { @name = "Industry", @class = "ifAdjFaculty ifAcdamecian" }) Academia </label>
                            @Html.HiddenFor(model => model.WorkingType)
                            @Html.ValidationMessageFor(model => model.WorkingType)
                        </td>*@
                </tr>

                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.LabelFor(model => model.Email)
                        <span style="color: blue;">(Login ID)</span> <span class="mandatory">*</span>
                    </td>
                    <td class="col2 focus" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Email)
                            @Html.HiddenFor(model => model.Email)
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Email, new { style = "width: 22%;", @placeholder = "Enter your Email ID", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.Email)
                        }
                    </td>
                </tr>

                @if (Model.id == 0)
                {
                    <tr style="display: none;">
                        <td class="col1" style="width: 10% !important; vertical-align: top;">
                            @Html.LabelFor(model => model.UserName)
                            <span style="color: blue;">(Login Id)</span> <span class="mandatory">*</span>
                        </td>
                        <td class="col2" style="width: 90% !important; vertical-align: top;">
                            @Html.TextBoxFor(model => model.UserName, new { style = "width: 22%;", @placeholder = "Minimum 5 characters long.", @maxlength = "12" })
                            @Html.ValidationMessageFor(model => model.UserName)
                            @Html.HiddenFor(model => model.UserName)
                        </td>
                    </tr>
                    if (Model.isView == null)
                    {
                        <tr>
                            <td class="col1" style="width: 10% !important; vertical-align: top;">
                                <span>Password</span> <span class="mandatory">*</span>
                            </td>
                            <td class="col2" style="width: 90% !important; vertical-align: top;">
                                @Html.PasswordFor(model => model.NewPassword, new { style = "width: 22%;", @placeholder = "Enter your Password", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">
                                <span>Confirm Password</span> <span class="mandatory">*</span>
                            </td>
                            <td class="col2">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { style = "width: 22%;", @placeholder = "Confirm your Password", @maxlength = "10" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </td>
                        </tr>
                    }
                }
            </table>
            <br />
            <table class="faculty_table">
                <tr>
                    <td class="col1" colspan="4">
                        <b>Faculty Information</b>

                        @if (Model.isView == null)
                        {
                            @*<span>- (<span style="color: red; font-weight: bold;"> NAME IN FULL TO BE WRITTEN, NO INITIALS</span> ) </span>*@
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col1">@Html.LabelFor(model => model.PANNumber) <span class="mandatory">*</span><br /></td>
                    <td class="col2">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.PANNumber)
                            @Html.HiddenFor(model => model.PANNumber)

                        }
                        else
                        {

                            @Html.TextBoxFor(model => model.PANNumber, new { @id = "PANNumber", @placeholder = "Enter PAN Number", @maxlength = "10", @class = "clsPanNumber" })
                            @Html.ValidationMessageFor(model => model.PANNumber)
                        }
                    </td>
                    <td class="col3">
                        @*@Html.LabelFor(model => model.FirstName) <span class="mandatory">*</span><br />*@
                        <span>First Name</span>
                    </td>
                    <td class="col4">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.FirstName)
                            @Html.HiddenFor(model => model.FirstName)
                        }
                        else
                        {

                            @Html.LabelFor(model => model.FirstName, " ", new { id = "FirstName" })
                            @Html.HiddenFor(model => model.FirstName, new { id = "FirstName" })
                        }
                    </td>
                </tr>
                <tr>

                    <td class="col1">
                        <span>Middle Name</span>

                    </td>
                    <td class="col2">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.MiddleName)
                            @Html.HiddenFor(model => model.MiddleName)
                        }
                        else
                        {
                            @Html.LabelFor(model => model.MiddleName, " ", new { id = "MiddleName" })
                            @Html.HiddenFor(model => model.MiddleName, new { id = "MiddleName" })
                        }
                    </td>
                    <td class="col3">
                        <span>Last Name</span>

                    <td class="col4">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.LastName)
                            @Html.HiddenFor(model => model.LastName)
                        }
                        else
                        {
                            @Html.LabelFor(model => model.LastName, " ", new { id = "LastName" })
                            @Html.HiddenFor(model => model.LastName, new { id = "LastName" })
                        }
                    </td>

                </tr>
                <tr>
                    <td class="col1">
                        <span>Father's Name / Husband's Name</span> <span class="mandatory">*</span>
                    </td>
                    <td class="col2">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.FatherOrhusbandName)
                            @Html.HiddenFor(model => model.FatherOrhusbandName)
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.FatherOrhusbandName, new { @placeholder = "Enter your Father's / Husband's Name", @maxlengeh = "50", @onkeypress = "return checkSpcialChar(event)" })
                            @Html.ValidationMessageFor(model => model.FatherOrhusbandName)
                        }
                    </td>
                    <td class="col3">
                        @Html.LabelFor(model => model.MotherName) <span class="mandatory">*</span>
                    </td>
                    <td class="col4">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.MotherName)
                            @Html.HiddenFor(model => model.MotherName)
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.MotherName, new { @placeholder = "Enter your Mother's Name", @maxlengeh = "25", @onkeypress = "return checkSpcialChar(event)" })
                            @Html.ValidationMessageFor(model => model.MotherName)
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col1">
                        @Html.LabelFor(model => model.GenderId) <span class="mandatory">*</span>
                    </td>
                    <td class="col2">
                        @if (@Model.isView != null)
                        {
                            if (@Model.GenderId == 1)
                            {
                                <span>Male</span>
                            }
                            else if (@Model.GenderId == 0)
                            {
                                <span>Female</span>
                            }
                            @Html.HiddenFor(model => model.GenderId)

                        }
                        else
                        {
                            <label>@Html.RadioButtonFor(model => model.GenderId, 1) Male </label>
                            <label>@Html.RadioButtonFor(model => model.GenderId, 0) Female </label>
                            @Html.ValidationMessageFor(model => model.GenderId)
                        }
                    </td>
                    <td class="col3">
                        @Html.LabelFor(model => model.DateOfBirth) <span class="mandatory">*</span><br />
                        <span style="color: blue;">(As Per SSC Certificate)</span>
                    </td>
                    <td class="col4">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.facultyDateOfBirth)
                            @Html.HiddenFor(model => model.facultyDateOfBirth)

                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.facultyDateOfBirth, new { @class = "calendar", style = "", @onblur = "IsValidDate(this,event.keyCode,0,0,0)", @onkeydown = "return IsValidFormat(this,event.keyCode)", @onchange = "return CompareDOB()", @placeholder = "Select Date of Birth" })
                            @Html.ValidationMessageFor(model => model.facultyDateOfBirth)
                        }
                    </td>
                </tr>

                <tr>
                    <td class="col1" style="vertical-align: top;">
                        @Html.LabelFor(model => model.Mobile) <span class="mandatory">*</span>
                    </td>
                    <td class="col2" style="vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Mobile)
                            @Html.HiddenFor(model => model.Mobile)

                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Mobile, new { @placeholder = "Enter 10 digit Mobile Number", @maxlength = "10" })
                            @Html.ValidationMessageFor(model => model.Mobile)
                        }
                    </td>
                    <td class="col3" style="vertical-align: top;">
                        @*@Html.LabelFor(model => model.Photo)*@ <span>Photo</span> <span class="mandatory">*</span>
                        <br />
                        <span style="color: blue;">
                            (Latest self colour photo with Minimum - 150x150 pixels, Maximum - 200x230 pixels,jpeg
                            <br />
                            and less than 50 KB size)
                        </span>
                    </td>
                    <td class="col4 files" style="vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.HiddenFor(model => model.Photo, new { @Value = Model.Photo })

                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Photo, new { type = "file", @class = "file required" })<br />
                        }

                        @if (@Model.facultyPhoto != null)
{
    <a href="http://112.133.193.228:72/Content/Upload/Faculty/Photos/@Model.facultyPhoto.Replace("~", "")" target="_blank">
        <img src="http://112.133.193.228:72/Content/Upload/Faculty/Photos/@Model.facultyPhoto.Replace("~", "")" style="height: 60px;" />
    </a>

}
                        @Html.HiddenFor(model => model.facultyPhoto)

                        @*<div id="PhotoPreview"></div>*@
                    </td>
                </tr>
                <tr>
                    <td class="col1"></td>
                    <td class="col2"></td>
                    <td class="col3">
                        @Html.LabelFor(model => model.AadhaarNumber)
                    </td>
                    <td class="col4">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.AadhaarNumber)
                            @Html.HiddenFor(model => model.AadhaarNumber)

                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AadhaarNumber, new { @id = "AadhaarNumber", @placeholder = "Enter Aadhaar Number", @maxlength = "12" })
                            @Html.ValidationMessageFor(model => model.AadhaarNumber)
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="vertical-align: top;">
                        <span>PAN Card Document</span> <span class="mandatory">*</span>
                        <br />
                        <span style="color: blue;">
                            (Minimum 300x250 pixels
                            <br />
                            and less than 100 KB size,jpeg)
                        </span>
                    </td>
                    <td class="col2 panfiles" style="vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.HiddenFor(model => model.PANCardDocument)

                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.PANCardDocument, new { type = "file", @class = "panfile" })
                            <br />
                        }

                        @if (@Model.facultyPANCardDocument != null)
                        {
                            <a href="http://112.133.193.228:72/Content/Upload/Faculty/PANCARDS/@Model.facultyPANCardDocument.Replace("~", "")" target="_blank">
                                <img src="http://112.133.193.228:72/Content/Upload/Faculty/PANCARDS/@Model.facultyPANCardDocument.Replace("~", "")" style="height: 60px;" />
                            </a>

                        }
                        @Html.HiddenFor(model => model.facultyPANCardDocument)
                    </td>
                    <td class="col3" style="vertical-align: top;">

                        <span>Aadhaar Card Document </span>
                        <br />
                        <span style="color: blue;">
                            (Minimum 200x200 pixels
                            <br />
                            and less than 100 KB size,jpeg)
                        </span>
                    </td>
                    <td class="col4 aadhaarfiles" style="vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.HiddenFor(model => model.AadhaarCardDocument)

                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.AadhaarCardDocument, new { type = "file", @class = "aadhaarfile" })
                            <br />
                        }

                        @if (@Model.facultyAadhaarCardDocument != null)
                        {
                            <a href="http://112.133.193.228:72/Content/Upload/Faculty/AADHAARCARDS/@Model.facultyAadhaarCardDocument.Replace("~", "")" target="_blank">
                                <img src="http://112.133.193.228:72/Content/Upload/Faculty/AADHAARCARDS/@Model.facultyAadhaarCardDocument.Replace("~", "")" style="height: 60px;" />
                            </a>
                        }
                        @Html.HiddenFor(model => model.facultyAadhaarCardDocument)
                    </td>
                </tr>
            </table>

            <div id="divOrganization" style="width: 100%">
                <table class="faculty_table" style="width: 100%">
                    <tr>
                        <td class="col1">
                            <div class="working">
                                @Html.Label("Parent Organization Name")
                            </div>
                        </td>
                        <td class="col2">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.OrganizationName)
                                @Html.HiddenFor(model => model.OrganizationName)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.OrganizationName, new { @id = "OrganizationName", @style = "width: 98%", @placeholder = "Parent Organization Name" })
                            }
                        </td>
                        <td class="col1"></td>
                        <td class="col2"></td>
                    </tr>
                    <tr>
                        <td class="col1">
                            @Html.LabelFor(model => model.AdjunctDepartment) <span class="mandatory">*</span>
                        </td>
                        <td class="col2">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.AdjunctDepartment)
                                @Html.HiddenFor(model => model.AdjunctDepartment)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.AdjunctDepartment, new { style = "width: 247px;", @placeholder = "Parent Organization Department" })
                                @Html.ValidationMessageFor(model => model.AdjunctDepartment)
                            }

                        </td>
                        <td class="col1">
                            @Html.LabelFor(model => model.AdjunctDesignation) <span class="mandatory">*</span>
                        </td>
                        <td class="col2">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.AdjunctDesignation)
                                @Html.HiddenFor(model => model.AdjunctDesignation)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.AdjunctDesignation, new { style = "width: 247px;", @maxlengeh = "50", @class = "required", @onkeypress = "return checkSpcialChar(event)", @placeholder = "Designation in the Parent Organization" })
                                @Html.ValidationMessageFor(model => model.AdjunctDesignation)
                            }

                        </td>
                    </tr>
                </table>
            </div>

            <div id="divExistFaculty" style="width: 100%">
                <table class="faculty_table" style="width: 100%">
                    <tr>
                        <td class="col1" style="vertical-align: top;">
                            @Html.LabelFor(model => model.WorkingStatus)
                        </td>

                        <td class="col2" style="vertical-align: top;">

                            @if (@Model.isView != null)
                            {
                                if (@Model.WorkingStatus == true)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                                @Html.HiddenFor(model => model.WorkingStatus)

                            }
                            else
                            {
                                <label>@Html.RadioButtonFor(model => model.WorkingStatus, true, new { @checked = "checked", @class = "required WorkingStatus ifWorking", @id = "radioworkingstatusyes" }) Yes </label>
                                <label>@Html.RadioButtonFor(model => model.WorkingStatus, false, new { @class = " required WorkingStatus ifNotWorking", @id = "radioworkingstatusno" }) No</label>
                                @Html.HiddenFor(model => model.WorkingStatus)
                                @Html.ValidationMessageFor(model => model.WorkingStatus)

                                <input type="file" name="NOCUploadFile" id="NOCUploadFile" />

                            }
                            @Html.HiddenFor(model => model.NOCFile)
                            @if (!string.IsNullOrEmpty(@Model.NOCFile))
                            {
                                <a href="http://112.133.193.228:72/Content/Upload/Faculty/NOCPDOCUMENTS/@Model.NOCFile" target="_blank">
                                    <img src="http://112.133.193.228:72/Content/Upload/Faculty/NOCPDOCUMENTS/@Model.NOCFile" style="height: 60px;" />
                                </a>
                            }
                        </td>
                        <td class="col3">@Html.LabelFor(model => model.TotalExperience) (years)</td>
                        <td class="col4">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.TotalExperience.Value)
                                @Html.HiddenFor(model => model.TotalExperience)
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.TotalExperience,
                        new SelectList(ViewBag.prevExperience as System.Collections.IEnumerable, "value", "text"),
                        "-- Select --", new { id = "TotalExperience", style = "" })
                                @Html.ValidationMessageFor(model => model.TotalExperience)
                            }
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <div id="divWorking">
                    <table style="width: 100%">

                        <tr>

                            <td class="col1" style="vertical-align: top;">
                                <div class="working">
                                    @Html.Label("Name of the College presently working as Adjunct Faculty") <span class="mandatory">*</span>
                                </div>
                            </td>
                            <td class="col2" style="vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.CollegeName)
                                    @Html.HiddenFor(model => model.CollegeId, new { @Value = Model.CollegeId })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.CollegeId, new SelectList(ViewBag.Institutions as System.Collections.IEnumerable, "CollegeId", "CollegeName"),
                                         "--Select--", new { id = "CollegeName", style = "", @class = "required" })
                                }
                            </td>
                            <td class="col1">
                                @Html.LabelFor(model => model.DateOfAppointment) <span>in the present College</span> <span class="mandatory">*</span>
                            </td>
                            <td class="col2">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.facultyDateOfAppointment)
                                    @Html.HiddenFor(model => model.facultyDateOfAppointment)
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.facultyDateOfAppointment, new { @class = "calendar required", style = "width: 247px;", @onblur = "IsValidDate(this,event.keyCode,0,0,1)", @onkeydown = "return IsValidFormat(this,event.keyCode)", @placeholder = "Enter Date of Appointment" })
                                    @Html.ValidationMessageFor(model => model.facultyDateOfAppointment)
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">
                                @Html.LabelFor(model => model.DepartmentId) <span class="mandatory">*</span>
                            </td>
                            <td class="col2">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.department)
                                    @Html.HiddenFor(model => model.DepartmentId)

                                    if (Model.department == "Others")
                                    {
                                        <br />
                                        @Html.DisplayFor(model => model.OtherDepartment)
                                        @Html.HiddenFor(model => model.OtherDepartment)

                                    }
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.DepartmentId,
                        new SelectList(ViewBag.department as System.Collections.IEnumerable, "id", "departmentName"),
                             "-- Select --", new { id = "department", style = "", @class = "required" })
                                    @Html.ValidationMessageFor(model => model.DepartmentId)

                                    if (Model.department == "Others")
                                    { <br />
                                    @Html.TextBoxFor(model => model.OtherDepartment, new { @placeholder = "Specify your department name" })
                                    }
                                    else if (Model.department == null)
                                    {
                                        <div id="divDept" style="display: none">
                                            <br />
                                            @Html.TextBoxFor(model => model.OtherDepartment, new { @id = "OtherDepartment", @placeholder = "Specify your department name" })
                                        </div>
                                    }
                                }
                            </td>
                            <td class="col3">
                                @Html.LabelFor(model => model.DesignationId) <span class="mandatory">*</span>
                            </td>
                            <td class="col4">
                                @Html.Label("Adjunct")

                            </td>
                        </tr>
                        <tr>

                            <td class="col3">
                                <div class="ratifed">
                                    @*@Html.LabelFor(model => model.ProceedingsNo)*@
                                    College Selection Committee Proceedings Number
                                    <br />
                                    <br />
                                    @Html.Label("Document")
                                    <span style="color: blue;">(Minimum 600x800 pixels and less than 100 KB size,jpeg)</span>
                                </div>
                            </td>
                            <td class="col4">
                                <div class="ratifed">
                                    @if (@Model.isView != null)
                                    {
                                        @Html.DisplayFor(model => model.ProceedingsNo)
                                        @Html.HiddenFor(model => model.ProceedingsNo)
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.ProceedingsNo, new { @class = "required", @placeholder = "Enter Proceedings Number", style = "width: 250px;" })
                                        @Html.ValidationMessageFor(model => model.ProceedingsNo)
                                    }
                                </div>
                                <br />
                                <br />
                                @if (@Model.isView != null)
                                {
                                    @Html.HiddenFor(model => model.SelectionCommitteeProceedingsDocument)
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.SelectionCommitteeProceedingsDocument, new { type = "file", @class = "SelectionCommitteeProceedingsDocument required" })
                                    <br />
                                }

                                @if (@Model.SelectionCommitteeProcedings != null)
                                {
                                    <a href="http://112.133.193.228:72/Content/Upload/Faculty/PROCEEDINGS/@Model.SelectionCommitteeProcedings.Replace("~", "")" target="_blank">
                                        <img src="http://112.133.193.228:72/Content/Upload/Faculty/PROCEEDINGS/@Model.SelectionCommitteeProcedings.Replace("~", "")" style="height: 60px;" />
                                    </a>
                                }
                                @Html.HiddenFor(model => model.SelectionCommitteeProcedings)
                            </td>
                            <td class="col1">
                                Honorarium
                                @*@Html.LabelFor(model => model.isFacultyRatifiedByJNTU) <span class="mandatory">*</span>
                                    <br />
                                    <br />
                                    <div class="ratifed" id="divDOR">
                                        @Html.LabelFor(model => model.facultyDateOfRatification) <span class="mandatory">*</span>
                                    </div>*@
                            </td>
                            <td class="col2">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.GrossSalary)
                                    @Html.HiddenFor(model => model.GrossSalary)
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.GrossSalary, new { @maxlength = "25", @placeholder = "Honorarium", @style = "width: 250px;", @onkeypress = "return isNumeric(event)" })
                                    @Html.ValidationMessageFor(model => model.GrossSalary)
                                }
                                @*@if (@Model.isView != null && @Model.WorkingStatus == true)
                                    {
                                        <label>@Html.RadioButtonFor(model => model.isFacultyRatifiedByJNTU, true, new { @id = "ifRatified", @class = "required FacultyRatifiedByJNTU", @disabled = "disabled" }) Yes </label>
                                        <label>@Html.RadioButtonFor(model => model.isFacultyRatifiedByJNTU, false, new { @id = "ifNotRatified", @class = "required FacultyRatifiedByJNTU", @disabled = "disabled" }) No</label>
                                        @Html.HiddenFor(model => model.isFacultyRatifiedByJNTU)
                                        <br />
                                        <br />
                                        @Html.DisplayFor(model => model.facultyDateOfRatification)
                                        @Html.HiddenFor(model => model.facultyDateOfRatification)
                                    }
                                    else
                                    {
                                        <label>@Html.RadioButtonFor(model => model.isFacultyRatifiedByJNTU, true, new { @id = "ifRatified", @class = "required FacultyRatifiedByJNTU" }) Yes </label>
                                        <label>@Html.RadioButtonFor(model => model.isFacultyRatifiedByJNTU, false, new { @id = "ifNotRatified", @class = "required FacultyRatifiedByJNTU" }) No</label>
                                        @Html.ValidationMessageFor(model => model.isFacultyRatifiedByJNTU)
                                        <br />
                                        <br />
                                        <div id="divRatified">
                                            @if (@Model.isView != null && @Model.WorkingStatus == true)
                                            {
                                                @Html.DisplayFor(model => model.facultyDateOfRatification)
                                                @Html.HiddenFor(model => model.facultyDateOfRatification)

                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.facultyDateOfRatification, new { Value = @Model.facultyDateOfRatification != null && @Model.facultyDateOfRatification.Equals("01/01/0001") ? string.Empty : @Model.facultyDateOfRatification, @class = "calendar", style = "width: 247px;", @onblur = "IsValidDate(this,event.keyCode,0,0,1)", @onkeydown = "return IsValidFormat(this,event.keyCode)", @placeholder = "Select Date of Ratification" })
                                                @Html.ValidationMessageFor(model => model.facultyDateOfRatification)
                                            }
                                        </div>
                                    }*@
                            </td>


                        </tr>
                        @*<tr>
                                <td class="col1"></td>
                                <td class="col2"></td>
                            </tr>*@

                    </table>
                </div>
            </div>
            <br />

            <table class="faculty_table education" id="tblQualification" style="border: solid 1px #ccc;">
                <thead>
                    <tr>
                        <td class="row" colspan="9">
                            <b>Educational Qualifications</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="row" style="text-align: center; width: 100px;"></td>
                        <td class="row" style="text-align: center; width: 125px;">Course Studied</td>
                        <td class="row" style="text-align: center; width: 125px;">Branch / Specialization</td>
                        <td class="row" style="text-align: center; width: 100px;">Year of Passing (YYYY)</td>
                        <td class="row" style="text-align: center; width: 80px;">
                            % of
                            <br />
                            Marks / CGPA
                        </td>
                        <td class="row" style="text-align: center; width: 80px;">Division</td>
                        <td class="row" style="text-align: center;">Board/University</td>
                        <td class="row" style="text-align: center; width: 180px;">Place</td>
                        <td class="row" style="text-align: center; width: 200px !important;">
                            Scanned Certificate<br />
                            <span style="color: blue;">
                                (Minimum 600x800 pixels
                                <br />
                                and less than 100 KB size,jpeg)
                            </span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.FacultyEducation.Count(); i++)
                    {
                        var style = "alt_row";
                        var year = "yr_" + i;
                        var divs = "division_" + i;

                        <tr>

                            <td class="@style" style="text-align: left; vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.FacultyEducation[i].educationName)
                                }
                                else
                                {
                                    @Html.DisplayFor(model => model.FacultyEducation[i].educationName)
                                }
                                @Html.HiddenFor(model => model.FacultyEducation[i].educationName)
                                @Html.HiddenFor(model => model.FacultyEducation[i].educationId)
                            </td>
                            <td class="@style" style="text-align: center; vertical-align: top;">
                                @if (@Model.isView != null)
                                {

                                    if (i == 0)
                                    {
                                        <span>-</span>
                                        @Html.HiddenFor(model => model.FacultyEducation[i].studiedEducation, new { @Value = "SSC" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.FacultyEducation[i].studiedEducation)
                                        @Html.HiddenFor(model => model.FacultyEducation[i].studiedEducation)
                                    }

                                }
                                else
                                {
                                    if (i < 2)
                                    {
                                        if (i == 0)
                                        {
                                            @Html.HiddenFor(model => model.FacultyEducation[i].studiedEducation, new { @Value = "SSC" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.FacultyEducation[i].studiedEducation, new { style = "width: 90%", @maxlength = "50", @class = "required", @placeholder = "Course Studied", @onkeypress = "return checkSpcialChar(event)" })
                                        }
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].studiedEducation, new { style = "width: 90%", @maxlength = "50", @placeholder = "Course Studied", @onkeypress = "return checkSpcialChar(event)" })
                                    }
                                }
                            </td>
                            <td class="@style" style="text-align: center; vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    if (i == 0)
                                    {
                                        <span>-</span>
                                        @Html.HiddenFor(model => model.FacultyEducation[i].specialization, new { @Value = "SSC" })
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.FacultyEducation[i].specialization)
                                        @Html.HiddenFor(model => model.FacultyEducation[i].specialization)
                                    }
                                }
                                else
                                {
                                    if (i < 2)
                                    {
                                        if (i == 0)
                                        {
                                            @Html.HiddenFor(model => model.FacultyEducation[i].specialization, new { @Value = "SSC" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.FacultyEducation[i].specialization, new { style = "width: 90%", @maxlength = "50", @class = "required", @placeholder = "Branch/Specialization", @onkeypress = "return checkSpcialChar(event)" })
                                        }
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].specialization, new { style = "width: 90%", @maxlength = "50", @placeholder = "Branch/Specialization", @onkeypress = "return checkSpcialChar(event)" })
                                    }
                                }
                            </td>
                            <td class="@style" style="text-align: center; vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    if (@Model.FacultyEducation[i].passedYear != null)
                                    {
                                        @Html.DisplayFor(model => model.FacultyEducation[i].passedYear.Value)
                                    }
                                    @Html.HiddenFor(model => model.FacultyEducation[i].passedYear)

                                }
                                else
                                {

                                    if (i < 2)
                                    {
                                        @Html.DropDownListFor(model => model.FacultyEducation[i].passedYear,
                                new SelectList(ViewBag.years as System.Collections.IEnumerable, "value", "text"),
                                "-- Select --", new { id = year, style = "width: 100%;", @class = "required" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.FacultyEducation[i].passedYear,
                                new SelectList(ViewBag.years as System.Collections.IEnumerable, "value", "text"),
                                "-- Select --", new { id = year, style = "width: 100%;" })
                                    }

                                }
                            </td>
                            <td class="@style" style="text-align: center; vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.FacultyEducation[i].percentage)
                                    @Html.HiddenFor(model => model.FacultyEducation[i].percentage)

                                }
                                else
                                {

                                    if (i < 2)
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].percentage, new { style = "width: 85%; text-align: center;", Value = Model.FacultyEducation[i].percentage == 0 ? string.Empty : Model.FacultyEducation[i].percentage.ToString(), @class = "txtPercentage required", @onkeypress = "return isNumberKey(event)", @placeholder = "% of Marks / CGPA" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].percentage, new { style = "width: 85%; text-align: center;", Value = Model.FacultyEducation[i].percentage == 0 ? string.Empty : Model.FacultyEducation[i].percentage.ToString(), @class = "txtPercentage", @onkeypress = "return isNumberKey(event)", @placeholder = "% of Marks / CGPA" })
                                    }
                                }
                            </td>
                            <td class="@style" style="text-align: center; vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    if (@Model.FacultyEducation[i].division != null)
                                    {
                                        @Html.DisplayFor(model => model.FacultyEducation[i].division.Value)
                                    }
                                    @Html.HiddenFor(model => model.FacultyEducation[i].division)
                                }
                                else
                                {

                                    if (i < 2)
                                    {
                                        @Html.DropDownListFor(model => model.FacultyEducation[i].division,
                                new SelectList(ViewBag.division as System.Collections.IEnumerable, "value", "text"),
                                "-- Select --", new { id = divs, style = "width: 100%;", @class = "required" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.FacultyEducation[i].division,
                                new SelectList(ViewBag.division as System.Collections.IEnumerable, "value", "text"),
                                "-- Select --", new { id = divs, style = "width: 100%;" })
                                    }
                                }
                            </td>
                            <td class="@style" style="text-align: center; vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.FacultyEducation[i].university)
                                    @Html.HiddenFor(model => model.FacultyEducation[i].university)

                                }
                                else
                                {

                                    if (i < 2)
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].university, new { style = "width: 95%", @maxlength = "50", @class = "required", @placeholder = "University", @onkeypress = "return checkSpcialChar(event)" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].university, new { style = "width: 95%", @maxlength = "50", @placeholder = "University", @onkeypress = "return checkSpcialChar(event)" })
                                    }
                                }
                            </td>
                            <td class="@style" style="text-align: center; vertical-align: top;">
                                @if (@Model.isView != null)
                                {
                                    @Html.DisplayFor(model => model.FacultyEducation[i].place)
                                    @Html.HiddenFor(model => model.FacultyEducation[i].place)

                                }
                                else
                                {

                                    if (i < 2)
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].place, new { style = "width: 90%", @maxlength = "50", @class = "required", @placeholder = "Place", @onkeypress = "return checkSpcialChar(event)" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].place, new { style = "width: 90%", @maxlength = "50", @placeholder = "Place", @onkeypress = "return checkSpcialChar(event)" })
                                    }
                                }
                            </td>
                            <td class="@style certificates" style="text-align: center; vertical-align: top;">
                                @if (!string.IsNullOrEmpty(@Model.FacultyEducation[i].facultyCertificate))
                                {
                                    <a href="http://112.133.193.228:72/Content/Upload/Faculty/Certificates/@Model.FacultyEducation[i].facultyCertificate" target="_blank">
                                        <img src="http://112.133.193.228:72/Content/Upload/Faculty/Certificates/@Model.FacultyEducation[i].facultyCertificate" style="height: 60px;" />
                                    </a>
                                }

                                @if (@Model.isView != null)
                                {
                                    @Html.HiddenFor(model => model.FacultyEducation[i].certificate)

                                }
                                else
                                {
                                    var cName = Model.FacultyEducation[i].educationId + "-certificate";
                                    if (i < 2)
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].certificate, new { type = "file", @style = "width: 180px;", @class = cName + " required" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.FacultyEducation[i].certificate, new { type = "file", @style = "width: 180px;", @class = cName })
                                    }

                                }
                                @Html.HiddenFor(model => model.FacultyEducation[i].facultyCertificate)
                            </td>
                        </tr>

                        <script type="text/javascript">

                            $(document).ready(function() {
                                if (@ViewBag.FacultyID > 0) {
                                    if (@Model.FacultyEducation[i].passedYear > 0) {
                                        $("#@year").val(@Model.FacultyEducation[i].passedYear);
                                    }

                                    if (@Model.FacultyEducation[i].division != null) {
                                        if (@Model.FacultyEducation[i].division > 0) {
                                            $("#@divs").val(@Model.FacultyEducation[i].division);
                                        }
                                    }
                                }

                            });

                        </script>
                    }
                </tbody>
            </table>
            <br />
            <table class="faculty_table education" id="table_MemberShip" style="border: solid 1px #ccc;">
                <thead>
                    <tr>
                        <td class="row" colspan="9">
                            <b>    Membership in Professional Bodies </b>
                        </td>
                    </tr>
                    <tr>

                        <td class="row" style="text-align: center; width: 40%;">                        Membership in Professional Bodies </td>
                        <td class="row" style="text-align: center; width: 35%">Membership No</td>


                        <td class="row" style="text-align: center; width: 25% !important;">
                            Membership Certificate <br />
                            <span style="color: blue;">
                                (Minimum 600x800 pixels
                                <br />
                                and less than 100 KB size,jpeg)
                            </span>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="alt_row" style="text-align: left; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.Professional)
                                @Html.HiddenFor(model => model.Professional)
                            }
                            else
                            { @Html.TextBoxFor(model => model.Professional, new { style = "width: 90%", @maxlength = "50", @class = "required", @placeholder = "Membership in Professional Bodies", @onkeypress = "return checkSpcialChar(event)" })}

                        </td>
                        <td class="alt_row" style="text-align: left; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.MembershipNo1)
                                @Html.HiddenFor(model => model.MembershipNo1)
                            }
                            else
                            { @Html.TextBoxFor(model => model.MembershipNo1, new { style = "width: 90%", @maxlength = "50", @class = "required", @placeholder = "Membership No", @onkeypress = "return checkSpcialChar(event)" }) }

                        </td>
                        <td class="alt_row" style="text-align: center; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.HiddenFor(model => model.MembershipFile1)

                            }
                            else
                            {
                                <input type="file" name="MembershipFile1" id="MembershipFile1" , class="required" />

                            }

                            @Html.HiddenFor(model => model.MembershipCertificate1)
                            @if (!string.IsNullOrEmpty(@Model.MembershipCertificate1))
                            {
                                <a href="http://112.133.193.228:72/Content/Upload/Faculty/MEMBERSHIPDOCUMENTS/@Model.MembershipCertificate1" target="_blank">
                                    <img src="http://112.133.193.228:72/Content/Upload/Faculty/MEMBERSHIPDOCUMENTS/@Model.MembershipCertificate1" style="height: 60px;" />
                                </a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="alt_row" style="text-align: left; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.Professional2)
                                @Html.HiddenFor(model => model.Professional2)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Professional2, new { style = "width: 90%", @maxlength = "50", @placeholder = "Membership in Professional Bodies", @onkeypress = "return checkSpcialChar(event)" })
                            }

                        </td>
                        <td class="alt_row" style="text-align: left; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.MembershipNo2)
                                @Html.HiddenFor(model => model.MembershipNo2)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.MembershipNo2, new { style = "width: 90%", @maxlength = "50", @placeholder = "Membership No", @onkeypress = "return checkSpcialChar(event)" })
                            }

                        </td>
                        <td class="alt_row" style="text-align: center; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.HiddenFor(model => model.MembershipFile2)

                            }
                            else
                            {<input type="file" name="MembershipFile2" id="MembershipFile2" /> }

                            @Html.HiddenFor(model => model.MembershipCertificate2)
                            @if (!string.IsNullOrEmpty(@Model.MembershipCertificate2))
                            {
                                <a href="http://112.133.193.228:72/Content/Upload/Faculty/MEMBERSHIPDOCUMENTS/@Model.MembershipCertificate2" target="_blank">
                                    <img src="http://112.133.193.228:72/Content/Upload/Faculty/MEMBERSHIPDOCUMENTS/@Model.MembershipCertificate2" style="height: 60px;" />
                                </a>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td class="alt_row" style="text-align: left; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.Professiona3)
                                @Html.HiddenFor(model => model.Professiona3)
                            }
                            else
                            {@Html.TextBoxFor(model => model.Professiona3, new { style = "width: 90%", @maxlength = "50", @placeholder = "Membership in Professional Bodies", @onkeypress = "return checkSpcialChar(event)" }) }

                        </td>
                        <td class="alt_row" style="text-align: left; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.DisplayFor(model => model.MembershipNo3)
                                @Html.HiddenFor(model => model.MembershipNo3)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.MembershipNo3, new { style = "width: 90%", @maxlength = "50", @placeholder = "Membership No", @onkeypress = "return checkSpcialChar(event)" })
                            }

                        </td>
                        <td class="alt_row" style="text-align: center; vertical-align: top;">
                            @if (@Model.isView != null)
                            {
                                @Html.HiddenFor(model => model.MembershipFile2)

                            }
                            else
                            {<input type="file" name="MembershipFile3" id="MembershipFile3" /> }

                            @Html.HiddenFor(model => model.MembershipCertificate3)
                            @if (!string.IsNullOrEmpty(@Model.MembershipCertificate3))
                            {
                                <a href="http://112.133.193.228:72/Content/Upload/Faculty/MEMBERSHIPDOCUMENTS/@Model.MembershipCertificate3" target="_blank">
                                    <img src="http://112.133.193.228:72/Content/Upload/Faculty/MEMBERSHIPDOCUMENTS/@Model.MembershipCertificate3" style="height: 60px;" />
                                </a>
                            }
                        </td>
                    </tr>
                </tbody>

            </table>
            <br />
            <table class="faculty_table">
                <tr>
                    <td class="col1" colspan="2">
                        <b>Publications</b>
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.LabelFor(model => model.National)
                    </td>
                    <td class="col2" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.National)
                            @Html.HiddenFor(model => model.National)

                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.National, new { style = "width: 99%; resize:none;", @placeholder = "National", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" })
                            @Html.ValidationMessageFor(model => model.National)
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="vertical-align: top;">
                        @Html.LabelFor(model => model.InterNational)
                    </td>
                    <td class="col2" style="vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.InterNational)
                            @Html.HiddenFor(model => model.InterNational)

                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.InterNational, new { style = "width: 99%; resize:none;", @placeholder = "InterNational", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" })
                            @Html.ValidationMessageFor(model => model.InterNational)
                        }
                    </td>
                </tr>

                <tr>
                    <td class="col1" style="vertical-align: top;">
                        @Html.LabelFor(model => model.Citation)
                    </td>
                    <td class="col2" style="vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Citation)
                            @Html.HiddenFor(model => model.Citation)

                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.Citation, new { style = "width: 99%; resize:none;", @placeholder = "Citation", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" })
                            @Html.ValidationMessageFor(model => model.Citation)
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="vertical-align: top;">
                        @Html.LabelFor(model => model.Awards)
                    </td>
                    <td class="col2" style="vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Awards)
                            @Html.HiddenFor(model => model.Awards)

                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.Awards, new { style = "width: 99%; resize:none;", @placeholder = "Awards", @maxlength = "500" })
                            @Html.ValidationMessageFor(model => model.Awards)
                        }
                    </td>
                </tr>
            </table>
            <br />
            <br />
            <table class="faculty_table" id="table_Accomplishments">
                <tr>
                    <td class="col1" colspan="2">
                        <b>Accomplishments </b>
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.Label("Accomplish1")
                    </td>
                    <td class="col2" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Accomplish1)
                            @Html.HiddenFor(model => model.Accomplish1)
                        }
                        else
                        { @Html.TextAreaFor(model => model.Accomplish1, new { style = "width: 99%; resize:none;", @placeholder = "Accomplish1", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" }) }



                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.Label("Accomplish2")
                    </td>
                    <td class="col2" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Accomplish2)
                            @Html.HiddenFor(model => model.Accomplish2)
                        }
                        else
                        { @Html.TextAreaFor(model => model.Accomplish2, new { style = "width: 99%; resize:none;", @placeholder = "Accomplish2", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" })}

                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.Label("Accomplish3")
                    </td>
                    <td class="col2" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Accomplish3)
                            @Html.HiddenFor(model => model.Accomplish3)
                        }
                        else
                        { @Html.TextAreaFor(model => model.Accomplish3, new { style = "width: 99%; resize:none;", @placeholder = "Accomplish3", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" }) }
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.Label("Accomplish4")
                    </td>
                    <td class="col2" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Accomplish4)
                            @Html.HiddenFor(model => model.Accomplish4)
                        }
                        else
                        {
                            @Html.TextAreaFor(model => model.Accomplish4, new { style = "width: 99%; resize:none;", @placeholder = "Accomplish4", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" })
                        }
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.Label("Accomplish5")
                    </td>
                    <td class="col2" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.Accomplish5)
                            @Html.HiddenFor(model => model.Accomplish5)
                        }
                        else
                        { @Html.TextAreaFor(model => model.Accomplish5, new { style = "width: 99%; resize:none;", @placeholder = "Accomplish5", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" })}
                    </td>
                </tr>
            </table>
            <br />

            <table class="faculty_table" id="table_Rolsandresponsebility">
                <tr>
                    <td class="col1" colspan="2">
                        <b>Roles and Responsibilities assigned in the present College  </b>
                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.Label("Roles")
                    </td>
                    <td class="col2" style="width: 90% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        {
                            @Html.DisplayFor(model => model.PresentInstituteAssignedRole)
                            @Html.HiddenFor(model => model.PresentInstituteAssignedRole)
                        }
                        else
                        {@Html.TextAreaFor(model => model.PresentInstituteAssignedRole, new { style = "width: 99%; resize:none;", @placeholder = "Roles", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" }) }



                    </td>
                </tr>
                <tr>
                    <td class="col1" style="width: 10% !important; vertical-align: top;">
                        @Html.Label("Responsibilities")
                    </td>
                    <td class="col2" style="width: 10% !important; vertical-align: top;">
                        @if (@Model.isView != null)
                        { @Html.DisplayFor(model => model.PresentInstituteAssignedResponsebility)
                            @Html.HiddenFor(model => model.PresentInstituteAssignedResponsebility)
                        }
                        else
                        { @Html.TextAreaFor(model => model.PresentInstituteAssignedResponsebility, new { style = "width: 99%; resize:none;", @placeholder = "Responsibilities", @maxlength = "500", @onkeypress = "return checkSpcialChar(event)" })
                        }
                        @*}*@
                    </td>
                </tr>
            </table>
            <br />
            @if (Model.isView == null)
            {
                <div class="col1" style="width: 99%;">
                    <b>Declaration:</b>
                    <br />
                    <br />
                    I hereby declare that all the information submitted in the Registration form is true to the best of my knowledge and belief.
                    In case at a later date, it is found that I have furnished false/wrong information, I am aware that I am liable for prosecution & legal action by the University.
                    <br />
                    <br />
                    <div style="text-align: center; font-weight: bold;" class="rbtn">
                        <label>@Html.RadioButton("Terms", true, new { @id = "Agree", @class = "Terms Agree" }) I Agree the Terms & Conditions </label>
                        <label>@Html.RadioButton("Terms", false, new { @id = "Agree", @class = "Terms Disagree" }) I Disagree the Terms & Conditions </label>
                    </div>
                </div>
            }
            <div style="line-height: 1.2rem;" class="right_buttons submitButton">
                @if (Model.id > 0)
                {
                    @*if ((@Model.isView != null && Roles.IsUserInRole("Admin")) || (@Model.isView == null))
                        {
                        <input type="submit" value="Update" class="submit" />
                        }*@
                }
                else
                {
                    if (Model.isView != null)
                    {
                        <input type="submit" id="btnBack" value="Go Back" class="submit" name="Command" />
                        <input type="submit" id="btnConfirm" value="Confirm" class="submit" name="Command" />
                    }
                    else
                    {
                        <input type="submit" id="btnRegister" value="Register" class="submit" name="Command" />
                    }
                }

            </div>
        </div>
    }
</div>

<div style="text-align:right">
    <br />@Html.ActionLink("Back to Home", "FindRegistrationNumber", "Account", new { @class = "create_button" })
</div>
<div id="dialog-edit11" style="display: none">

</div>

