@model List<UAAASSCM.Controllers.UserCreation>
@{
    ViewBag.Title = "getAllAuditors";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 1;
}
@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}
<h2>Get All Auditors</h2>
<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {

        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null, null,null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });
    });
</script>
<table id="example" class="display">
    <thead>
        <tr>
            <th style="width: 80px; text-align: center;">
                S.No
            </th>
            <th style="width: 220px; text-align: center;">
                Auditor Name
            </th>
            <th style="width: 120px; text-align: center;">
                Department
            </th>
            <th style="width: 120px; text-align: center;">
                Designation
            </th>
            <th style=" width: 250px; text-align: center;">
                Email
            </th>
            <th style="width: 220px; text-align: center;">
                Phone Number
            </th>
            <th style="width: 80px; text-align: center;">
                Place
            </th>
            <th style="width: 80px; text-align: center;">
                Edit
            </th>


        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td style="width: 50px; text-align: center;">
                        @(count++)
                    </td>
                    <td style="width: 220px; text-align: left; text-transform: uppercase;">
                        @item.UserName
                    </td>
                    <td style="width: 120px; text-align: center;">
                        @item.DepartmentName
                    </td>
                    <td style="width: 120px; text-align: center;">
                        @item.DesignationName

                    </td>
                    <td style="width: 250px; text-align: left;">
                        @item.Email
                    </td>
                    <td style="width: 220px; text-align: center;">
                        @item.PhoneNumber
                    </td>
                    <td style="text-align: center;">
                        @item.University
                    </td>
                    <td style="width: 80px;text-align: center;">
                        @Html.ActionLink("Edit", "EditUser", new { Id = @item.Id }, new { @class = "create_button" })
                    </td>


                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th style="width: 50px;">
                <input type="text" id="i-0" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th style="width: 50px;">
                <input type="text" id="i-1" style="width: 60%; text-align: left; display: none;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-2" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th style="width: 50px;">
                <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th style="width: 50px;">
                <input type="text" id="i-4" style="width: 60%; text-align: left; display: none;" class="search_init">
            </th>
            <th>
                <input type="text" id="i-5" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
            <th style="width: 50px;">
                    <input type="text" id="i-6" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
            <th style="width: 50px;">
                <input type="text" id="i-7" style="width: 90%; text-align: left; display: none;" class="search_init">
            </th>
        </tr>
    </tfoot>
</table>




