@model List<UAAASSCM.Controllers.OthersDeptlist>
@{
    ViewBag.Title = "OthersDeptColleges";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int Count = 1;
    string RequestDate = string.Empty;
}

<h2>Colleges List of Others Department</h2>
@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}
@using (Html.BeginForm("", ""))
{
    <table>
        <tr>
            <th class="col1">College </th>
            <td class="col2">
                @Html.DropDownList("collegeId", new SelectList(ViewBag.CollegeData as System.Collections.IEnumerable, "CollegeId", "CollegeName"), "---Select---", new {@id = "collegeId", @style = "width:700px"})
            </td>
        </tr>
    </table>
    
     if (@Model.Count != 0)
    {
        <table class="webGrid" style="width:100%">
            <tr class="gridHeader">
                <th style="width: 80px;">S.No</th>
                <th>Department</th>
                <th style="width: 180px;">Request Submitted Date</th>
                <th style="width: 120px;">Split Department</th>
                <th style="width: 100px;">View Faculty</th>
               
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                RequestDate = Model[i].RequestsubmittedDate!=null ? UAAAS.Models.Utilities.MMDDYY2DDMMYY(Model[i].RequestsubmittedDate.ToString()) : "---";

                <tr style="background-color: #FCF1D1">
                    <td>@(Count++)</td>
                    <td>
                        @Html.HiddenFor(model => model[i].ScmId)
                        @Html.DisplayFor(model => model[i].DepartmentName)
                        @Html.HiddenFor(model => model[i].DeptId)
                    </td>
                    <td>
                        @RequestDate
                    </td>
                    <td style="text-align:center">
                       @if (Model[i].IsRequestSplit == false)
                       {
                        @Html.ActionLink("Split", "DivideRequestintoTwo", "Admin", new { scmid = @Model[i].ScmId }, new { @class = "create_button" })   
                       }
                       else
                       {
                           <span class="deactivate_button"></span>
                       }
                        
                    </td>
                    <td style="text-align:center">
                        @Html.ActionLink("View", "ViewFaculty", "Admin", new { scmid = @Model[i].ScmId }, new { @class = "view_button",@target="_blank" })
                    </td>
                </tr>
            }
        </table>
    }
    
}

<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function() {

        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 50,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function() {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0; i < oSettings.aoPreSearchCols.length; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function(i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function() {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function(i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
        $("tfoot input").keyup(function() {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });
    });


    $("#collegeId").change(function() {
        var collegeId = $(this).val();
        if (collegeId !== "") {
            window.location = '/Admin/OthersDeptColleges?collegeId=' + collegeId;
        } else {
            window.location = '/Admin/OthersDeptColleges';
        }
    });


</script>



<style>
    .webGrid a:link, .webGrid a:visited {
        color: white;
        text-decoration: none;
    }
</style>