@{
    ViewBag.Title = "CollegeScmProceedingsRequestScreen";
}

<h2>SCM Proceedings Requests</h2> <br/>

<script type="text/javascript">
    var asInitVals = new Array();
    $(document).ready(function () {
        var mainUrl = window.location;
        var url;

        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 500,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0 ; i < oSettings.aoPreSearchCols.length ; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        $('#collegeId').change(function () {
            // alert();
            var collegeId = $(this).val();
            //alert(collegeId)

            if ($('#collegeId').val() != '') {
                window.location = '/FacultyVerificationDENew/FacultyCertificatesVerification?collegeid=' + collegeId;
            }
            else {
                window.location = '/FacultyVerificationDENew/FacultyCertificatesVerification';
            }
        });

        $.ajaxSetup({ cache: false });
        var $myDialog = $("#dialog-edit").dialog({
            title: 'Add/Edit Department',
            autoOpen: false,
            resizable: false,
            height: 200,
            width: 640,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
                $(this).load(url);
            }
        });

        $(".viewDialog").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-view").dialog({
                title: 'Deactivate Faculty',
                autoOpen: false,
                resizable: false,
                height: 460,
                width: 750,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                //buttons: {
                //    "Close": function () {
                //        $(this).dialog("close");
                //    }
                //},
                close: function (event, ui) {
                    $(this).load(url);
                    window.location.reload();
                    $(this).dialog('close');

                }
            });

            $("#dialog-view").dialog('open');
            return false;
        });

        //CheckDialog
        $(".CheckDialog").live("click", function (e) {
            var url = $(this).attr('href');
            $("#dialog-check").dialog({
                title: 'View Faculty',
                autoOpen: false,
                resizable: false,
                height: 490,
                width: 750,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(this).load(url);

                },
                close: function (event, ui) {
                    // $(this).load(url);
                    // window.location.reload();
                    $(this).dialog('close');

                }
            });

            $("#dialog-check").dialog('open');
            return false;
        });

        ///

        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Add Faculty'
            });
            url = $("#openDialog").attr('href');
            $myDialog.dialog('open');
            return false;
        });

        $('#example').find('tr').click(function () {
            url = $(this).find(".editDialog").attr('href');
        });

        $(".editDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'Edit Department'
            });

            $myDialog.dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });
    });
</script>

<table id="example" class="display">
    <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle; ">S.No.</th>
            <th style="width: 80%;">College</th>
            @*<th>Specialization</th>
                <th style="text-align: center; vertical-align: middle;">Professors </th>
                <th style="text-align: center; vertical-align: middle;">Associate Professors</th>
                <th style="text-align: center; vertical-align: middle;">Assistant Professors</th>*@
            <th style="text-align: center; vertical-align: middle; ">View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ((List<UAAAS.Controllers.College.ScmProceedingsRequest>)ViewBag.collegescmrequestslist).Select((value, i) => new { i = i + 1, value }))
        {
            <tr>
                <td style="text-align: center; vertical-align: middle; border-bottom: 1px solid #fff;">
                    @(item.i)
                </td>
                <td>@item.value.CollegeName</td>
                @*<td>@item.value.SpecializationName</td>
                    <td style="text-align: center; vertical-align: middle;">@item.value.ProfessorVacancies</td>
                    <td style="text-align: center; vertical-align: middle; ">@item.value.AssociateProfessorVacancies </td>
                    <td style="text-align: center; vertical-align: middle; ">@item.value.AssistantProfessorVacancies </td>
                    <td style="text-align: center; vertical-align: middle;">*@
                @*@if (!string.IsNullOrEmpty(item.value.ScmNotificationpath))
                        {
                            <span><a href="../Content/Upload/SCMPROCEEDINGSREQUEST/ScmNotificationDocuments/@item.value.ScmNotificationpath" target="_blank"><span style="font-weight: bold; color: red">View</span></a></span>

                        }
                    </td>*@
                <td style="text-align: center; vertical-align: middle;">
                    @Html.ActionLink("View", "CollegeScmProceedingsRequestView", "CollegeScmProceedingsRequest", new { id = UAAAS.Models.Utilities.EncryptString(item.value.CollegeId.ToString(), System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]) }, new { @class = "edit_button1", target = "_blank",@style="color: red;font-weight: bold;" })
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
    <th>
        <input type="text" id="i-0" style="width: 80%; text-align: left; display: none;" class="search_init">
    </th>
    <th>
        <input type="text" id="i-1" style="width: 95%; text-align: left;" class="search_init">
    </th>

    <th class=" ui-state-default">
        <input type="text" id="i-2" style="width: 70%; text-align: center; display: none;" class="search_init">
    </th>
    @*<th class=" ui-state-default">
            <input type="text" id="i-4" style="width: 90%; text-align: center; display: none;" class="search_init">
        </th>
        <th class=" ui-state-default">
            <input type="text" id="i-4" style="width: 90%; text-align: center; display: none;" class="search_init">
        </th>
        <th class=" ui-state-default">
            <input type="text" id="i-5" style="width: 90%; text-align: center; display: none;" class="search_init">
        </th>
        <th class=" ui-state-default">
            <input type="text" id="i-6" style="width: 90%; text-align: center; display: none;" class="search_init">
        </th>*@
</table>

