@*@model IEnumerable<UAAASSCM.Models.jntuh_college>*@

@model UAAAS.Controllers.College.ScmRequestList
@{
    ViewBag.Title = "Professor SCM Requested Colleges";
    var index = 1;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string color = "";
}

<h2>Professor SCM Requested Colleges</h2>

@if (TempData["Error"] != null)
{
    <div class="error">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="success">
        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
    </div>
}

<script type="text/javascript">
    var asInitVals = new Array();

    $(document).ready(function () {
        /* Initialize table and make first column non-sortable*/
        var oTable = $('#example').dataTable({
            "bJQueryUI": true,
            "iDisplayLength": 5000,
            "bStateSave": false,
            "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
            //"sPaginationType": "full_numbers",
            "oLanguage": {
                "sSearch": "Search all columns:",
                "oPaginate": {
                    "sFirst": "",
                    "sLast": "",
                    "sNext": "",
                    "sPrevious": ""
                }
            },
            "fnInitComplete": function () {
                var oSettings = $('#example').dataTable().fnSettings();
                for (var i = 0; i < oSettings.aoPreSearchCols.length; i++) {
                    if (oSettings.aoPreSearchCols[i].sSearch.length > 0) {
                        $("tfoot input")[i].value = oSettings.aoPreSearchCols[i].sSearch;
                        $("tfoot input")[i].className = "";
                    }
                }
            },
            "aoColumns": [{ "bSortable": true, "bSearchable": true }, null, null, null, null, null],
            //"aoColumns": [{ type: "select", values: ['Gecko', 'Trident', 'KHTML', 'Misc', 'Presto', 'Webkit', 'Tasman'] },{ type: "text" },null,{ type: "number" },{ type: "select" }]
        });
        /*
         * Support functions to provide a little bit of 'user friendlyness' to the textboxes in
         * the footer
         */
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });

        $("tfoot input").keyup(function () {
            /* Filter on the column (the index) of this element */
            oTable.fnFilter(this.value, $("tfoot input").index(this));
        });

        //Update collegestatus popup

        var mainUrl = window.location;
        var url;

        $.ajaxSetup({ cache: false });

        var $myDialog = $("#dialog-edit").dialog({
            title: 'Add/College',
            autoOpen: false,
            resizable: false,
            height: 300,
            width: 640,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            closeOnEscape: true,
            open: function (event, ui) {
                $(this).load(url);
            },
            close: function (event, ui) {
                $(this).dialog("close");
            }
        });

        $("#openDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'College'
            });
            url = $("#openDialog").attr('href');
            $myDialog.dialog('open');
            return false;
        });

        $('.display').find('tr').click(function () {
            url = $(this).find(".editDialog").attr('href');
        });

        $(".editDialog").live("click", function (e) {
            e.preventDefault();
            $("#dialog-edit").dialog({
                title: 'College'
            });

            $myDialog.dialog('open');
            return false;
        });

        $("#btncancel").live("click", function (e) {
            $("#dialog-edit").dialog("close");
        });

        $($myDialog).bind("dialogclose", function () {
            window.location = mainUrl;
        });
    });





</script>

@using (Html.BeginForm("", "", FormMethod.Post, new { }))
{
    <p style="text-align: right">
        <input type="submit" class="create_button" value="Print" id="btn_print" name="cmd" />
    </p>
    <table id="example" class="display" style="width: 100%">
        <thead>
            <tr>
                <th style="width: 30px; text-align: center;" rowspan="2">
                    S.No
                </th>
                <th style="width: 80px; text-align: center;" rowspan="2">
                    Code
                </th>
                <th style="text-align: left;" rowspan="2">
                    College Name
                </th>
                @*<th style="text-align: center; vertical-align: middle" rowspan="2">
                        SCM Download
                    </th>*@
                <th style="text-align: center; vertical-align: middle" rowspan="2">
                    Nominee Not Assigned
                </th>
                <th style="text-align: center; vertical-align: middle" rowspan="2">
                    Nominee Assigned
                </th>
                <th style="text-align: center; vertical-align: middle" rowspan="2">
                    Select
                </th>
            </tr>
        </thead>
        <tbody>


            @for (int i = 0; i < Model.SCmRequestList.Count(); i++)
            {

                //if (@Model.SCmRequestList[i].IsAuditorAssigned == true)
                //{
                //    color = "red";
                //}
                //else if (@Model.SCmRequestList[i].IsAuditorAssigned == false)
                //{
                //    color = "green";
                //}

                <tr>
                    @Html.HiddenFor(modelItem => Model.SCmRequestList[i].Id)
                    @Html.HiddenFor(modelItem => Model.SCmRequestList[i].CollegeCode)
                    @Html.HiddenFor(modelItem => Model.SCmRequestList[i].CollegeName)
                    <td style="text-align: center">
                        @(index++)
                    </td>
                    <td style="text-align: center; text-transform: uppercase;">
                        @Html.DisplayFor(modelItem => Model.SCmRequestList[i].CollegeCode)
                    </td>
                    <td style="text-align: left;">
                        @Html.DisplayFor(modelItem => Model.SCmRequestList[i].CollegeName)
                    </td>
                    @*<td style="text-align: center; vertical-align: middle">
                            <a href='@Url.Action("CollegeScmPrint", "SCMReports", new { collegeId = @Model.SCmRequestList[i].Id })' target="_blank" title="Click here for SCM Download">
                                <img src="@Url.Content("../../Content/images/pdf.png")" alt="SCM Download" height="18">
                            </a>
                        </td>*@
                    <td style="text-align: center; vertical-align: middle">
                        <a href='@Url.Action("ProfessorCollegeScmProceedingsRequestView", "CollegeSCMProceedingsRequest", new {id = Model.SCmRequestList[i].Id})' target="_blank" class="view_button" title="Click here for SCM Request Details">

                        </a>
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        @*<a href='@Url.Action("CollegeScmProceedingsRequestNomineeAssignedview", "CollegeSCMProceedingsRequest", new {collegeId = Model.SCmRequestList[i].Id})' target="_blank" class="view_button" title="Click here for SCM Request Details">

                        </a>*@
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        @Html.CheckBoxFor(model => Model.SCmRequestList[i].Checked, new { name = "Options" })
                        @Html.HiddenFor(modelItem => Model.SCmRequestList[i].Checked)
                    </td>
                </tr>
            }
           
        </tbody>

        <tfoot>
            <tr>
                <th>
                    <input type="text" id="i-0" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-1" style="width: 60%; text-align: left; display: none;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-2" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                @*<th>
                        <input type="text" id="i-3" style="width: 90%; text-align: left; display: none;" class="search_init">
                    </th>*@
                <th>
                    <input type="text" id="i-4" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-6" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
                <th>
                    <input type="text" id="i-5" style="width: 90%; text-align: left; display: none;" class="search_init">
                </th>
            </tr>
        </tfoot>
    </table>
}
@if (ViewBag.Count == 0)
{
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No records found</p>
    </div>
}

<div id="dialog-edit" style="display: none"></div>
