@{
    ViewBag.Title = "SCM Upload View";

    if (User.Identity.Name == "admin")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUser.cshtml";
    }

   
    int Count = 1;
    string SCMDate = string.Empty;
}
@using UAAAS.Controllers.College
@using UAAAS.Models
<h2>SCM Upload View</h2>
@using (Html.BeginForm())
{
    if (TempData["Error"] != null)
    {
        <div class="error">
            <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
        </div>
    }
    if (TempData["Success"] != null)
    {
        <div class="success">
            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
        </div>
    }

    <table class="four_columns" style="border-collapse: separate; border-spacing: 2px;">
        <tr>
            <td class="col1">
                <span>College</span>
            </td>
            <td class="col2" colspan="4">
                @Html.DropDownList("collegeId",
                    new SelectList(ViewBag.Colleges as System.Collections.IEnumerable, "collegeId", "collegeName"),
                    "--Select--", new {id = "collegeId"})
            </td>
        </tr>
            @*@if (ViewBag.departments != null)
            {
                <tr>
                    <td class="col1">
                        <span>Branch/Specialization</span>
                    </td>
                    <td class="col2" colspan="4">
                        @Html.DropDownList("DepartmentId", new SelectList(ViewBag.departments as System.Collections.IEnumerable, "SpecializationId", "SpecializationName"),
                      "--Select--", new { id = "DepartmentId" })
                    </td>
                </tr>
            }*@
    </table>


   <br/>
if (ViewBag.SCMData != null)
{
    
        <table width="100%"  class="webGrid" style="border-collapse: collapse; border: 1px solid #C0C0C0">
            <tr style="background-color: #C1D4E6; padding: 10px; font-weight: bold; height: 25px; text-align: center">
                <th width="10%">S.No</th>
                <th width="20%">Branch</th>
                <th width="10%">SCM Date</th>
                <th width="20%">Prof Doc</th>
                <th width="20%">Assoc prof Doc</th>
                <th width="20%">Assist prof Doc</th>
            </tr>
            @foreach (var item2 in (List<Scmuploads>)ViewBag.SCMData)
{
    <tr style="background-color: #FCF1D1;  padding: 10px; height: 25px;  ">
        <td width="10%">@(Count++)</td>
        <td width="20%">@item2.SpecializationName</td>
        <td width="10%">@item2.ScmDate</td>
        @if (!string.IsNullOrEmpty(item2.ProfessorDocumentView))
        {
            <td width="20%">
                <b><a href="http://10.10.10.19/Content/Upload/SCMUploads/@item2.ProfessorDocumentView" target="_blank">Professors</a></b>
            </td>
        }
        else
        {
            <td width="20%"></td>
        }
        @if (!string.IsNullOrEmpty(item2.AssociateProfessorDocumentView))
        {
            <td width="20%">
                <b><a href="http://10.10.10.19/Content/Upload/SCMUploads/@item2.AssociateProfessorDocumentView" target="_blank">Associate Professors</a></b>
            </td>
        }
        else
        {
            <td width="20%"></td>
        }
        @if (!string.IsNullOrEmpty(item2.AssistantProfessorDocumentView))
        {
            <td width="20%">
                <b><a href="http://10.10.10.19/Content/Upload/SCMUploads/@item2.AssistantProfessorDocumentView" target="_blank">Assistant Professors</a></b>
            </td>
        }
        else
        {
            <td width="20%"></td>
        }
    </tr>
}
        </table>
    
}
          
    
    
   
    
   
}








<script type="text/javascript">
    $(document).ready(function() {
        
    });

    $("#collegeId").change(function() {
        var collegeId = $(this).val();
        if (collegeId !== "") {
            window.location = '/CollegeSCMProceedingsRequest/SCMUploadView?collegeId=' + collegeId;
        } else {
            window.location = '/CollegeSCMProceedingsRequest/SCMUploadView';
        }
    });


    $("#DepartmentId").change(function () {
        var collegeId = $("#collegeId").val();
        var departmentId = $(this).val();
        if (collegeId !== "" && departmentId!=="") {
            window.location = '/CollegeSCMProceedingsRequest/SCMUploadView?collegeId=' + collegeId + '&departmentId=' + departmentId;
        } else {
            window.location = '/CollegeSCMProceedingsRequest/SCMUploadView';
        }
    });
</script>