@model IList<UAAAS.Controllers.College.ScmProceedingsRequestAddReg>
@{
    ViewBag.Title = "View Added Faculty";
}
<h2>View Added Faculty</h2>



@using (Html.BeginForm())
{
    if (TempData["Error"] != null)
    {
        <div class="error">
            <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
        </div>
    }
    if (TempData["Success"] != null)
    {
        <div class="success">
            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
        </div>
    }

     <table class="webGrid">
                <thead>
                    <tr class="gridHeader">
                        <th>S.No.</th>
                        <th>Specilization</th>
                        <th>Registration Number</th>
                        <th>Faculty Name</th>
                        <th>View Faculty</th>
                        <th>Delete Faculty</th>

                    </tr>
                </thead>
         <tbody style="background: #FCF1D1;">
             @for (int i = 0; i < Model.Count(); i++)
             {
                 <tr>
                     <td>
                         @Html.HiddenFor(m => m[i].Id)
                         @Html.HiddenFor(m => m[i].CollegeId)
                         @Html.HiddenFor(m => m[i].SpecializationId)
                         @(i + 1)
                     </td>
                     <td>@Html.DisplayFor(m => m[i].SpecializationName)</td>
                     <td>@Html.DisplayFor(m => m[i].Regno)</td>
                     <td>@Html.DisplayFor(m => m[i].RegName)</td>
                     <td style="text-align: center;vertical-align: middle">
                         @Html.ActionLink("View", "ViewFacultyDetails", "Faculty", new { fid = UAAAS.Models.Utilities.EncryptString(Model[i].FacultyId.ToString(), System.Web.Configuration.WebConfigurationManager.AppSettings["CryptoKey"]) }, new { @class = "view_button", target = "_blank" })
                     </td>
                     <td style="text-align: center;vertical-align: middle">
                         @Html.ActionLink("Delete Faculty", "DeleteRegistrationNumber", "CollegeSCMProceedingsRequest", new { @id = Model[i].Id, @scmId = Model[i].ScmId }, new { @id = "confirmDialog", @class = "confirmDialog create_button" })
                     </td>

                 </tr>
             }
         </tbody>

            </table>
}

<div id="dialog-confirm" style="display: none">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
        Are you sure to delete ?
    </p>
</div>
<script>
    $(document).ready(function() {


        $(".confirmDialog").live("click", function(e) {

            var url = $(this).attr('href');

            $("#dialog-confirm").dialog({
                title: 'Delete Faculty',
                autoOpen: false,
                resizable: false,
                height: 170,
                width: 350,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                buttons: {
                    "Yes": function() {
                        $(this).dialog("close");
                        window.location = url;

                    },
                    "No": function() {
                        $(this).dialog("close");

                    }
                }
            });

            $("#dialog-confirm").dialog('open');
            return false;
        });


    });


</script>
<style>
    .webGrid a:link, .webGrid a:visited {
        color: white;
        text-decoration: none;
    }
</style>